@model string

<style>
    .smooth{transition: all 1s ease-in;}
</style>

<div id="color-demo" class="smooth" style="color:@Model"
    hx-get="animations/colors?current=@Model" hx-swap="outerHTML" hx-trigger="every 1s">
    Color Swap Demo
</div>
