@model Htmx.Examples.Features.Examples.InlineValidation.CreateVillain.Command

<div class="form-group" hx-target="this" hx-swap="outerHTML">
    <label for="Value">Name</label>
    <input type="text" class="form-control" asp-for="Name" hx-post="/examples/inline-validation/namecheck">
    <span asp-validation-for=Name></span>
</div>
