@model Htmx.Examples.Features.Examples.InlineValidation.CreateVillain.Command

<h2>Add a Villain</h2>

<partial name="_CreateVillainForm" model=@Model />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}