@model IEnumerable<Htmx.Examples.Features.Examples.BulkUpdate.ContactListItem>;

<form id="checked-contacts">
    <table>
      <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
      </thead>
      <tbody id="tbody">
        <partial name="_ContactRows" model=Model />
      </tbody>
    </table>
</form>
<div hx-include="#checked-contacts" hx-target="#tbody" style="padding-top:2em;">
    <a class="btn btn-primary" hx-post="/examples/bulk-update/activate" href="">Activate</a>
    <a class="btn btn-primary" hx-post="/examples/bulk-update/deactivate" href="">Deactivate</a>
</div>