@model IEnumerable<Htmx.Examples.Features.Examples.BulkUpdate.ContactListItem>;

    @foreach (var contact in Model!)
            {
            <tr class="@contact.StatusChangedClass">
                <td><input type='checkbox' name='ids' value=@contact.Id></td>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td>@contact.Status</td>
            </tr>    
            }