@model Htmx.Mvc.Features.Examples.InfiniteScroll.ViewVillains.Result
@{
    ViewData["Title"] = "Infinite Scroll";
}

<table class="table">
    <thead class=thead-dark>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <partial name="_Rows" model=Model />
    </tbody>
</table>
