
@{
    ViewData["Title"] = "Progress Bar";
}

<h1>Progress Bar</h1>

<div hx-target="this" hx-swap="outerHTML">
    <h3>Start Progress</h3>
    <button class="btn btn-primary" hx-post="progress-bar/start">Start Job</button>
</div>