@model Htmx.Examples.Features.Examples.ActiveSearch.SearchVillains.Result

@foreach (var villain in Model!.Villains)
{
    <tr>
        <td>@villain.Name</td>
        <td>@villain.Movie</td>
        <td>@villain.Status</td>
    </tr>    
}