@model Htmx.Mvc.Features.Examples.ClickToEdit.ViewVillain.Result

@{
    ViewData["Title"] = "Click To Edit";
}

<h1>Click To Edit</h1>
<p>
    Example of inline editing without full page refresh.
</p>

<partial name="_VillainCard" model=@Model />
