@page "/examples/click-to-edit"
@model Htmx.Examples.Pages.Examples.ClickToEditModel

<h1>Click To Edit</h1>
<p>
    Example of inline editing without full page refresh.
</p>




<partial name="Partials/_ViewContact" model=@Model.Data />