@model Htmx.Examples.Features.Examples.ClickToLoad.ClickToLoadViewModel


@foreach (var villain in Model!.Villains)
{
    <tr>
        <td>@villain.Name</td>
        <td>@villain.Movie</td>
        <td>@villain.Status</td>
    </tr>
}
@if (!string.IsNullOrEmpty(Model!.LoadMoreUrl))
{
    <tr id="lastRow">
        <td colspan="3">
            <button class="btn btn-primary"
                hx-get="@Model!.LoadMoreUrl"
                hx-target="#lastRow"
                hx-swap="outerHTML">
                Load More
            </button>
        </td>
    </tr>
}
else
{
    <tr>
        <td colspan="3">
            No More Villains
        </td>
    </tr>
}