@model Htmx.Mvc.Features.Examples.ClickToLoad.ViewVillains.Result

@{
    ViewData["Title"] = "Click to Load";
}

<table class="table">
    <thead class=thead-dark>
        <tr>
            <th>Name</th>
            <th>Movie</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <partial name="_VillainRows" model=Model />
    </tbody>
</table>
